extends layout

block content

  .jumbotron.jumbotron-fluid(style="background-image: url('https://www.djumak.com/assets/hp-splash-min.jpg');background-size:cover;")
    .container.text-center
      h1.display-4 #{post.getTitle()}
      p.lead !{post.getExcerpt()}

  article
    .container
      .row
        .col-lg-12.mx-auto
          p !{post.getContent()}
          small.text-muted Published #{post.getPublishDate()}
